body{
    max-width: 100%;
    margin:auto;
}
.home-div{
    max-width: 1200px;
    padding-left: 10%;
    padding-right: 10%;
    width: 100%;
}
.top-container{
    text-align: center;
    padding-bottom: 3rem;
}
.top-container a{
    font-size: 1.4rem;
    color: black;
    text-decoration: none;
    font-weight: 600;
}
.menu-bar{
    text-align: center;
}
.menu-bar span{flex-direction: row;
    font-weight: 400;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-size: 1rem;
}
.content{
    padding-top: 2rem;
    justify-items: center;
    margin-left: 10%;
    margin-right: 0%;
    display: flex;
    flex-direction: row;
}
.shirt-image{
    width: 50%;
    padding-top: 2rem;
    justify-content: center;
}
.shirt-image img{
    object-fit: cover;
    max-width: 600px;
    width: 100%;
    min-width: 300px;
}
.item-info{
    width: 50%;
    padding-top: 2rem;
    padding-right: 4rem;
}
.item-info h1{
    font-weight: 500;
    font-size: 1.5rem;
}
.price{
    font-size: 1rem;
    color: #555;
    padding-bottom: 2rem;
    border-bottom: 1px solid #999;
}
.item-options{
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    font-size: 0.9rem;
    color: #555;
    border-bottom: 1px solid #999;
}
.options-tag{
    display:inline-block;
}
.options-tag select{
    background-color: transparent;
    color: black;
    border:none;
}

.item-description{
    margin-top: 2rem;
}
.item-description h2{
    font-size: 16px;
}
.item-description p{
    font-size: 16px;
    color: #555;
    padding-bottom: 1.5rem;
}
.item-description span{
    font-size: 16px;
    color: #555;
}
.item-description ul{
    font-size: 14px;
    color: #555;
    margin-bottom: 1.6rem;
}
.add-to-cart button{
    padding-left: 2.75rem;
    padding-right: 2.75rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    color: #555;
    background-color: transparent;
    border:1.5px solid black;
}
.add-to-cart2 button{
    color:white;
    position: relative;
    background-color: darkblue;
    font-size: 12px;
    width: 100%;
    padding: 5rem;
    border:none;
    margin:0;
    display: none;
}
.extra{
    display: none;
}
input:checked ~ div{
    display: block;
}
@media (max-width: 800px){
    .content{
        flex-direction: column;
    }
    .menu-bar{
        text-align: center;
        display: none;
    }
    .shirt-image{
        width: 100%;
        padding-top: 1rem;
        justify-content: left;
    }
    .shirt-image img{
        object-fit: cover;
        max-width: 600px;
        width: 100%;
        min-width: 300px;
    }
    .home-div{
        padding-left: 1%;
        padding-right: 1%;
    }
    .top-container{
        padding-left: 2rem;
        text-align: center;
        padding-bottom: 0rem;
    }
    .item-info{
        width: 90%;
        padding-top: 2rem;
        padding-right: 4rem;
    }
    .add-to-cart{
        position:absolute;
        width: 100%;
    }
    .add-to-cart{
        width:0;
    }
    .add-to-cart button{
       display: none;
    }
    .add-to-cart2 button{
        color:white;
        background-color: darkblue;
        font-size: 12px;
        width: 100%;
        padding: 1rem;
        border:none;
        margin:0;
        display: block;
    }
    .sticky{
        position:sticky;
        bottom: 0;
    }
    .content{
        margin:0;
        padding-left: 2%;
    }
    .home-div{
        padding:0;
    }
    .item-info{
        width: 100%;
        padding-top: 2rem;
        padding-right: 0rem;
    }
}   
