body{
    margin:auto;
    width: 100%;
}
.full-body{
    padding-top: 4rem;
    padding-left: 8%;
    padding-right: 8%;
    overflow: hidden;
}
.top-container{
    text-align: center;
}
.top-container a{
    padding-bottom: 3rem;
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}
.cart img{
    height: 30px;
    width: 30px;
    position: relative;
    left: 100%;
}
.top-head{
    text-align: center;
    padding-top: 4rem;
}
.top-head h1{
    font-size: 1.3rem;
    font-weight: 400;
}
.top-head span{
    font-size: 1rem;
    font-weight: 200;
    color: #555;
}
.form-grid{
    display:grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
    width: 100%;
}
.grid-1{
    width: 80%;
}
h4{
    font-size: 15px;
    font-weight: 600;
    color: black;
    padding-bottom: 1rem;
}
.acc-info{
    padding-top: 4rem;
}
/*.acc-info input{
    color: #555;
    font-weight: 400;
    font-size: 14px;
    border: none;
    border-bottom: 1px solid #aaa;
    padding-top: 1.2rem;
    padding-bottom: 0.6rem;
    margin-bottom: 1.2rem;
    width: 100%;
}*/
.ship-addr{
    padding-top: 4rem;
}
/*.ship-addr input{
    color: #555;
    font-weight: 400;
    font-size: 14px;
    border: none;
    border-bottom: 1px solid #aaa;
    padding-top: 1.2rem;
    padding-bottom: 0.6rem;
    margin-bottom: 1.2rem;
}*/
/*.ship-addr2{
    width: 100%;
}*/
.addr{
    display: grid;
    grid-template-columns: 49% 49%;
    grid-column-gap: 2%;
}
.addr input{
}
.country{
    padding-top: 1.5rem;
}
.country span{
    padding-left: 0.2rem;
}
.c-sel{
    padding-bottom: 2rem;
}
.c-sel select{
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    font-size: 0.9rem;
    border: 0px white;
    border-bottom: 1px solid #999;
    background-color: white;
    width: 100%;
}
.check-addr span{
    font-weight: 550;
    color: #242424;
}
.check-addr label{
    color: #333;
}
.grid-2{
    width: 80%;
}
.pay-meth{
    padding-top: 4rem;
}
/*.pay-meth input{
    color: #555;
    font-weight: 400;
    font-size: 14px;
    border: none;
    border-bottom: 1px solid #aaa;
    padding-top: 1.2rem;
    padding-bottom: 0.6rem;
    margin-bottom: 1.2rem;
    width: 100%;
}*/
.card-det{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1%;
}
.card-det select{
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    font-size: 0.9rem;
    border: 0px white;
    border-bottom: 1px solid #999;
    background-color: white;
    width: 100%;
    outline: none;
}
.card-det input{
    color: #555;
    font-weight: 400;
    font-size: 14px;
    border: none;
    border-bottom: 1px solid #aaa;
    padding-top: 1.2rem;
    padding-bottom: 0.2rem;
    width: 100%;
}
.order-sum{
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: auto auto;
    font-size: 1rem;
    color: #222;
}
.order-sum div{
    padding-bottom: 2rem;
    padding-top: 0.2rem;
}
h3{
    font-size: 1rem;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    color: #222;
}
.place-order button{
    padding-left: 2.75rem;
    padding-right: 2.75rem;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    color: #333;
    background-color: transparent;
    border:1.5px solid black;
}
.place-order2 button{
    color:white;
    background-color: darkblue;
    font-size: 12px;
    width: 100%;
    padding: 1rem;
    border:none;
    margin:0;
    display: none;
}
.sticky{
    position:sticky;
    bottom: 0;
}

.float > div{
    position: relative;
    color: #777;
    font-weight: 500;
    border-bottom: 1px solid #aaa;
}
.float input{
    background-color: transparent;
    outline: none;
    color: #555;
    font-weight: 400;
    font-size: 16px;
    border: none;
    
    /*margin-bottom: 1.2rem;*/
    width: 100%;
    transform-origin: center;
}
.float label{
    position: absolute;
    top: 0px;
    z-index: -1;
}
.float input:focus + label{
    display: block;
    transform: translate3d(0,-15px,0);
    transition-duration: 0.2s;
    font-size:14px;
    color: #222;
}
.float input:not(:focus):valid + label{
    display: block;
    transform: translate3d(0,-15px,0);
    font-size: 14px;
    color: #222222;
}

.high{
    transform: scaleX(0);
    /* background-color: #242424; */
}

.float input:focus ~ .high{
    background-color: #242424;
    transition-duration: 0.2s;
    /* content: ' '; */
    height: 2px;
    transform: scaleX(1);
}
input[type=checkbox]:not(:checked) ~ .extra{
    display: none;
}
input[type=checkbox]:checked ~ .extra{
    display: block;
}
/* .float input:not(:focus):valid + label{
    border-bottom: 3px solid #333;
    width: 0%;
} */

@media(max-width: 800px)
{
    .form-grid{
        display:grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto;
        justify-items: center;
        width: 100%;
    }
    .grid-1{
        width: 100%;
    }
    .grid-2{
        width: 100%;
    }
    .top-head{
        text-align: center;
        padding-top: 1rem;
    }
    .place-order{
        display: none;
    }
    .place-order2 button{
        color:white;
        background-color: darkblue;
        font-size: 12px;
        width: 100%;
        padding: 1rem;
        border:none;
        margin:0;
        display: block;
    }
}